body {
    background-image: url('/pagina-clinica2/public/public/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif;
}

#loading-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 2s;
}
.video-container{
    display: flex;
}
.video-container video {
    height: 600px;
    width: 600px;
    margin: auto;

}
#site-content{
    display: none;
}
header {
    background: #333; 
    color: #fff; 
    text-align: center;
    padding: 20px 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e69533;
}

.logo{
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}
header h1 {
    margin: 0;
    font-size: 40px;
    text-shadow: 1px 1px 1px white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 20px;

}
nav ul li a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.banner{
      background-image: url();
      background-size: cover;
      text-align: center;
      color:black;
      padding: 100px 0;
}

#video{
    text-align: center;
}

#servicos{
    padding: 40px;
    text-align: center;
}
#produtos{
    background-color: #333;
    color: #ff9900;
    border: 3px groove #ff9900;
    box-shadow: 1px 1px 1px black;
    text-align: center;
    padding: 40px 0;
}
#produtos h1{
    margin: 0;

}

.slideshow-container{
    max-width: 100%;
    position: relative;
}

header a {
    text-decoration: none;
    font-size: 17px;
    color: #FF9500;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header a:hover {
    background-color: #333;
    color: white;
}

section {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10%;
    transition: 0.5s ease-in;
}

section h2 {
    color: #FF9500;
    text-decoration: underline;
}

section ul{
    list-style: none;
    font-size: 18px;
}

.mySlides{
    display: none;
    
}

.mySlides img{
   max-width: 50%;
   max-height: 50%;
}

#contato{
    background-color: #ff990095;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

#contato h2{
    margin: 0;
    color: #f2f2f2;
}

#contato p{
    margin: 10px 0;
}
#local{
    font-size: 14px;
    text-decoration: underline;
}

section a:hover{
    background-color:#333;
    color: white;
    transition: 0.5s ease-in-out;
}
footer {
    background-color: #ff9900;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.scroll-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #ffa500;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: none;
}

.scroll-to-top:hover{
    background-color: #f2f2f2;
    color: #FF9500;
}